.container-me{
  margin-top: 3.5rem;
}

.content{
  height: 10px;  
}

.content-head{
   color: var(--c1);
}

.content-head h1{
  font-size: 34px;  
  font-weight: bold;
}

.content-head h2{
  font-size: 26px;  
  font-weight: 400;
}

.item {
  width: 60px;
  height: 60px;
  border-radius: 50%;  
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  transition: .2s;
  cursor: pointer;

  &:active {   
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
   }

  &:hover{
    background-color: var(--c1);    

    .img {
      background-color: var(--c11) !important; 
    }    
  }  

  .img {
    background-repeat: no-repeat;  
    background-color: var(--c1);
  }
}

.whats .img{  
  -webkit-mask: url('../../assets/images/whats.svg') no-repeat center;
  mask: url('../../assets/images/whats.svg') no-repeat center;
  margin-bottom: 4px; 
  width: 29px;
  height: 29px;
}

.linkedin .img{  
  -webkit-mask: url('../../assets/images/linkedin.svg') no-repeat center;
  mask: url('../../assets/images/linkedin.svg') no-repeat center;
  width: 29.5px;
  height: 29.5px;
}

.git .img{  
  -webkit-mask: url('../../assets/images/git.svg') no-repeat center;
  mask: url('../../assets/images/git.svg') no-repeat center;
  width: 29.5px;
  height: 29.5px;  
}

.divider{
  width: 100%;
  height: 1px;
  background-color: var(--c7);
}

.sobre-mim h1{
  font-weight: 500;
  font-size: 26px;
  color: var(--c2);  
}

.borda div{
  background-color: var(--c1)  
}

.grossa {
  width: 70px;
  height: 5px;
}

.fina {
  width: 100px;
  height: 2px;
}

.main-text{
  width: 100%;
}

.main-text h1{
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2px;
  color: var(--c3);
}

.illustration {   
  width: 20rem !important;
  height: 20rem;
  background-image: url('../../assets/images/inan-light.svg');  
  background-size: cover;
  transition: .3s ease-in;
  cursor: pointer;      

  &:hover {
    background-image: url('../../assets/images/inanside-light.svg');  
    filter: drop-shadow(0 0 23px var(--c5))
  }
}

.theme--night {
  .illustration{
    background-image: url('../../assets/images/inan-dark.svg');  

    &:hover {
      background-image: url('../../assets/images/inanside-dark.svg');       
    }
  }
}

@media screen and (max-width: 700px){
  .illustration img{
    width: 12rem;
  }

  .container-me{
    margin-top: 4rem;
  }

  .content-head h1{
    font-size: 30px;      
  }
  
  .content-head h2{
    font-size: 23px;      
  }
  
}

@media screen and (max-width: 550px){
  .illustration img{
    width: 7rem;
    margin-bottom: 4rem;    
  }

  .container-me{
    margin-top: 3rem;
  }

  .content-head h1{
    font-size: 24px;      
  }
  
  .content-head h2{
    font-size: 18px;      
  }
}