.container-skills{

  .skill-item{
    
    width: 30%;

    h1 {
      border: 3px solid var(--c1);
      text-align: center;
      font-weight: 400;
      font-size: 22px;
      padding: 10px 0;
      color: var(--c1);      
    }

    .list{   

      span{
        font-weight: 400;
        font-size: 18px; 
        color: var(--c1);       
      }

      .dot{
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: var(--c10);
        border:1px solid var(--c1);
      }

      .fill {
        border:1px solid transparent;
        background-color: var(--c1);
      }
    }    

    .stack{
      padding: 0.3rem 1.25rem;
      transition: .3s;    

      &:hover {
        background-color: var(--c1);

        span {
          color: var(--c11) !important;          
        }

        .dot {
          background-color: var(--c4);
          border: 1px solid var(--c4);
        }

        .fill {
          background-color: var(--c11);
        }
      }      
    }    
  }
}

@media screen and (max-width: 1000px){
  .skill-item{        
    width: 100% !important;    
  }  
}

@media screen and (max-width: 1000px){
  .skill-item{        
    width: 100% !important;    
  }  

  .container-skills{
    margin-top: 8rem !important;
  }
}

@media screen and (max-width: 767px){  

  .container-skills{
    margin-top: 3rem !important;
  }
}
