.container-skills{

  .skill-item{
    
    width: 30%;

    h1 {
      border: 2px solid var(--c1);
      text-align: center;
      font-weight: 400;
      font-size: 22px;
      padding: 10px 0
    }

    .list{
      padding: 0 20px;

      h2{
        font-weight: 400;
        font-size: 18px;
      }

      .dot{
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: var(--c10);
        border:1px solid var(--c1);
      }

      .fill {
        border:1px solid transparent;
        background-color: var(--c1);
      }
    }
  }
}