.container-head {  
  width: 100%;
}

.container-head .logo{
  font-size: 26px;
  color: var(--c1);
  font-weight: bold;
}

.darkmode {
  width: 33px;
  height: 33px;
  background-image: url('/src/assets/images/lua.svg');  
}

.language {
  width: 70px;
  height: 30px;  
  border-radius: 5px;
  font-size: 20px;
  color: var(--c1);
  background: #ffffff;
  cursor: pointer;
}


.selected {
  border: 2px solid transparent;
  color: var(--white);
  background-color: var(--c1);
  width: 70px;  
  height: 30px;
  position: absolute;
  right:10%;
  
  border-radius: 5px;
  font-size: 20px;
  color: var(--c1);
  background: #ffffff;
  cursor: pointer;
}

.language-novo{
  width: 140px;
  height: 30px;
  background: #ffffff;
  box-shadow:  11px 11px 35px #bfbfbf, -11px -11px 35px #ffffff;
  border-radius: 5px;
  position: relative;
}