.container-modal{
  padding: 30px 80px;
  position: relative;

  .close{
    background-image: url('../../assets/images/close.svg');
    width: 30px;
    height: 30px;
    position:absolute;
    right: 20px;
    top: 20px;
    transition: .2s;

    &:hover{
      transform: scale(1.1);
    }
  }
}

.header { 
  h1 {
    color: var(--c1);
    font-size: 34px;
  }

  .item-tag{
    padding: 3px 10px;
    border: 1px solid var(--c1);
    border-radius: 3px;
    font-size: 14px;
    color: var(--c1);
    background-color: var(--c9);
    cursor: pointer;
  }

  .selecionado {
    background-color: var(--c1);
    border: 1px solid transparent;
    color: var(--c9);
  }  
}

.divider {
  margin: 10px 0 20px 0;
}

.descricao {
  .retangulo {
    width: 5px;
    height: 43px;
    background-color: var(--c1);
  }

  h2 {
    font-size: 20px;
    font-weight: normal;
    color: var(--c1);
  }
}

.slide {  
  position:relative;

  .slide-seta{
    width: 50px;
    height: 50px;
    position: absolute;
  }

  .left {
    background-image: url('../../assets/images/left.svg');
    left: -60px;
  }

  .right {
    background-image: url('../../assets/images/right.svg');
    right: -60px;
  }

  img {
    background-color: var(--c5);
    width: 100%;
    height: 100%;    
    border-radius: 5px;
  }
}

.tech {    
  color: #fff;
  
  border-radius: 4px;
  padding: 0.8em 2em;
  background: var(--c9);
  transition: 0.2s;

    img {
    width: 50px;
    height: 50px;
    filter: grayscale(100%);
    transition: .2s;

    &:hover{
      filter: grayscale(0%);
    }
  }
}

.theme--night .tech{
  background: var(--c3);
}

.tech:hover {
  color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: #fff;
  box-shadow: 0.25rem 0.25rem var(--bg);

  img{
    filter: grayscale(0%);
  }
}

.main-tech {
  color: var(--hover-text);
  transform: translate(-0.25rem,-0.25rem);
  background: #ffffff !important;
  border:1px solid transparent;
  padding: 1.2em;
  border-radius: 50%;
  transition: .2s;
  box-shadow: inset 24px 24px 52px #cacaca,
  inset -24px -24px 52px #f6f6f6;

  &:hover{
    box-shadow:  24px 24px 52px #bababa,
             -24px -24px 52px #ffffff;
  }

  img{
    filter: grayscale(100%);
  }  
}

.theme--night .main-tech {  
  background: #1F1E1A;
  box-shadow: inset 24px 24px 37px #12110f,
              inset -24px -24px 37px #2c2b25;

  &:hover{
    box-shadow:  0.001px 0.001px 52px #ffffff,
              -0.001px -0.001px 52px #ffffff !important
  }
}

.tech:active {
  transform: translate(0);
  box-shadow: none;
}

.box-modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 95vh;
  background-color: var(--c10);
  box-shadow: 24;
  border-radius: 3;
  border-color: transparent;
}

@media screen and (min-width: 450px){  
  .box-modal {
    width: 90%
  }
}

@media screen and (max-width: 700px){  
  .box-modal {
    width: 85%
  }

  .container-modal{
    padding: 15px 30px;
  }

  .header { 
    h1 {      
      font-size: 26px;
    }
  }

  .descricao {
    h2 {
      font-size: 16px;      
    }
  }

  .sobre-mim{
    h1 {
      font-size: 22px;
    }
  }

  .divider {
    margin: 10px 0;
  }

  .box-modal{    
    height: 75vh;
  }
}

@media screen and (max-width: 520px){  
  .box-modal {
    width: 95%;    
  }

  .container-modal{
    padding: 15px 15px;
  }

  .header { 
    h1 {      
      font-size: 26px;
    }
  }

  .divider {
    margin: 10px 0;
  }

  .box-modal{    
    height: 70vh;
  }
}

@media screen and (min-width: 900px){  
  .box-modal {
    width: 80%
  }
}

@media screen and (min-width: 1300px){  
  .box-modal {
    width: 60%
  }
}

@media screen and (min-width: 1700px){  
  .box-modal {
    width: 50%
  }
}

 .date-made {
  width: 20%;
  border-left: 3px solid var(--c1);
  img {
    width: 1.5rem;    
  }
 }