:root{
  --c1: #37352F;
  --c2: #46443F;
  --c3: #63615D;
  --c4: #7E7C78;
  --c5: #898988;
  --c6: #92908D;
  --c7: #A3A2A1;
  --c8: #AFAFAF;
  --c9: #C8C7C5;
  --c10: #E7E6E6;  
  --c11: #FFFFFE;  
  --white: #FFF;

  --color-primary: #f1f1f1;  
  --color-secondary: #37352F;

  &.theme--night {
    --c11: #37352F;
    --c10: #46443F;
    --c9: #63615D;
    --c8: #7E7C78;
    --c7: #898988;
    --c6: #92908D;
    --c5: #A3A2A1;
    --c4: #AFAFAF;
    --c3: #C8C7C5;
    --c2: #E7E6E6;  
    --c1: #FFFFFE;  


    --color-primary: #1f1e1a;    
    --color-secondary: #FFFFFE;
  }
}

*{
  padding: 0;
  margin: 0;
  font-family: 'Fira Sans';
}


.container-spinner{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1F1F1;
}

.spinner {  
  width: 44px;
  height: 44px;
  animation: spinner-y0fdc1 2s infinite ease;
  transform-style: preserve-3d;
 }
 
 .spinner > div {
  background-color: rgba(55, 53, 47,0.2);
  height: 100%;
  position: absolute;
  width: 100%;
  border: 2px solid rgb(55, 53, 47);
 }
 
 .spinner div:nth-of-type(1) {
  transform: translateZ(-22px) rotateY(180deg);
 }
 
 .spinner div:nth-of-type(2) {
  transform: rotateY(-270deg) translateX(50%);
  transform-origin: top right;
 }
 
 .spinner div:nth-of-type(3) {
  transform: rotateY(270deg) translateX(-50%);
  transform-origin: center left;
 }
 
 .spinner div:nth-of-type(4) {
  transform: rotateX(90deg) translateY(-50%);
  transform-origin: top center;
 }
 
 .spinner div:nth-of-type(5) {
  transform: rotateX(-90deg) translateY(50%);
  transform-origin: bottom center;
 }
 
 .spinner div:nth-of-type(6) {
  transform: translateZ(22px);
 }
 
 @keyframes spinner-y0fdc1 {
  0% {
   transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
  }
 
  50% {
   transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
  }
 
  100% {
   transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
  }
 }